In [18]:
# Import Dependencies
import pandas as pd

In [19]:
# Initialize data of lists based on previous data extraction
movie_data = {'Movie Name' : ['Focus', 'Termintor Genisys', 'Pan', 'Ted 2', 'Inside Out',
'Goosebumps', 'Aloha', 'Cinderella', 'Self/less', 'Ip Man 3', '13 Hours',
'Ghostbusters', 'My Big Fat Greek Wedding 2', 'Gods of Egypt', 'Eddie the Eagle',
'Star Trek Beyond', 'London Has Fallen', 'The 5th Wave', 'Suicide Squad', 'Me Before You'],
'IMDB Rating' : [66, 64, 57, 63, 82, 63, 54, 69, 65, 71, 73, 78, 60, 54, 74, 71, 59, 52, 60, 74],
'Rotten Tomatoes Rating' : [56, 26, 27, 45, 98, 78, 20, 85, 19, 78, 51, 97, 28, 16, 82, 86, 26, 15, 27, 55],
'Metacritic Rating' : [56, 38, 36, 48, 94, 60, 40, 67, 34, 57, 48, 71, 37, 25, 54, 68, 28, 33, 40, 51],
'Facebook Likes' : [23000, 82000, 24000, 30000, 118000, 35000, 11000, 56000, 11000, 12000, 44000, 62000, 19000, 24000, 15000, 30000, 28000, 14000, 80000, 51000]}

In [20]:
# Create the DataFrame
master_movie_df = pd.DataFrame(movie_data)

# Print DataFrame
master_movie_df

,Movie Name,IMDB Rating,Rotten Tomatoes Rating,Metacritic Rating,Facebook Likes
0,Focus,66,56,56,23000
1,Termintor Genisys,64,26,38,82000
2,Pan,57,27,36,24000
3,Ted 2,63,45,48,30000
4,Inside Out,82,98,94,118000
5,Goosebumps,63,78,60,35000
6,Aloha,54,20,40,11000
7,Cinderella,69,85,67,56000
8,Self/less,65,19,34,11000
9,Ip Man 3,71,78,57,12000
10,13 Hours,73,51,48,44000
11,Ghostbusters,78,97,71,62000
12,My Big Fat Greek Wedding 2,60,28,37,19000
13,Gods of Egypt,54,16,25,24000
14,Eddie the Eagle,74,82,54,15000
15,Star Trek Beyond,71,86,68,30000
16,London Has Fallen,59,26,28,28000
17,The 5th Wave,52,15,33,14000
18,Suicide Squad,60,27,40,80000
19,Me Before You,74,55,51,51000